<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>90572826283-086e7avuflp7oe4mrv4h6lv6tbo6m97i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.90572826283-086e7avuflp7oe4mrv4h6lv6tbo6m97i</string>
	<key>API_KEY</key>
	<string>AIzaSyAFpHo7cqZVvQSiL8Pk5zJqmAF3IvG7orM</string>
	<key>GCM_SENDER_ID</key>
	<string>90572826283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dcss.wowsass</string>
	<key>PROJECT_ID</key>
	<string>warshippies</string>
	<key>STORAGE_BUCKET</key>
	<string>warshippies.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:90572826283:ios:83b991bc1de84d68</string>
	<key>DATABASE_URL</key>
	<string>https://warshippies.firebaseio.com</string>
</dict>
</plist>